//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//

// Twitter Bootstrap
@import 'bootstrap';

// Basic styles
.hidden {
  display: none;
}

body {
  background-color: black;
}

div.container {
  margin-top: 20px;
  width: 700px;
  background-color: #202020;

  h1, h2, h3 {
    margin: 30px auto;
    width: 600px;
    text-align: center;
    color: #d3d3d3;
  }

  h2, h3 {
    margin: 30px auto 10px auto;
  }

  form {
    width: 450px;
    margin: 0 auto 20px auto;
    background-color: #202020;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: 0;

    input[type=submit] {
      margin-top: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 76px;
    }

    label {
      color: #d3d3d3;
    }

    .method_radio {
      margin-bottom: 10px;
      color: #d3d3d3;
    }

    #method_measurement_box {
      display: none;
    }
  }

  #settings {
    width: 190px;
    margin: 0 auto;
    color: #888;

    .setting-name {
      display: inline-block;
      width: 110px;
    }

    .setting-value {
      display: inline-block;
      width: 75px;
      text-align: right;
    }
  }

  span.fov {
    display: block;
    font-size: 42px;
    color: #80E1F3;
    width: 50px;
    text-align: center;
    margin: 0 auto 20px auto;
  }

  .alert {
    width: 600px;
    margin: 10px auto 0 auto;
  }
}
